@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #E3CAA5;
}

.heading {
  -webkit-text-stroke: 1px black;
}
.card {
  border-radius: 60px;
  background: linear-gradient(145deg, #CEAB93, #AD8B73);
  box-shadow:  11px 11px 37px #AD8B73, -11px -11px 37px #AD8B73;
}
.input1,.input2,.input3,.input4 {
  background-color: #E3CAA5;
  border: 2px black;
}
.input1:active {
  border: 2px #AD8B73;
}

.btn {
  border: 2px white;
  overflow: hidden;
}
.btn:hover .btn-arrow{
  rotate: 180deg;
  transition: all .3s ease-in-out;
}
